<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    {% block content %}
    <h2>{{ user.name }}</h2>
<p>Calories: {{ user.calories }}</p>
<form method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Meal Name">
    <input type="text" name="calories" placeholder="Calories">
    <button type="submit">Create Meal</button>
</form>
<ul>
{% for meal in meals %}
    <li>{{ meal.name }}: {{ meal.calories }} calories</li>
{% endfor %}
</ul>

    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
