<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">price</a>
                <a href="" class="dropdown-item">rating</a>
                <a href="" class="dropdown-item">catagories</a>
                <a href="" class="dropdown-item">all products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">tops</a>
                <a href="" class="dropdown-item">bottoms</a>
                <a href="" class="dropdown-item">sets</a>
                <a href="" class="dropdown-item">accesories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                gym
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">bags</a>
                <a href="" class="dropdown-item">bottles</a>
                <a href="" class="dropdown-item">straps</a>
                <a href="" class="dropdown-item">accesories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">weights</a>
                <a href="" class="dropdown-item">cardio</a>
                <a href="" class="dropdown-item">home equipment</a>
                <a href="" class="dropdown-item">accesories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                special offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">clothes</a>
                <a href="" class="dropdown-item">gym</a>
                <a href="" class="dropdown-item">equipment</a>
                <a href="" class="dropdown-item">accesories</a>
            </div>
        </li>
    </ul>
</div>